<ion-content [fullscreen]="true">
  <div class="center-container">
    <div class="ion-padding-vertical">
     <ion-card class="ion-text-center card-background">
      <img src="../../../assets/images/Duoc.png" alt="Logo Duoc UC">
      <br><br>
        <ion-card class="centro">
          <ion-card-title>Correo Incorrecto</ion-card-title>
          <br><br>
          <ion-input>Intenta nuevamente</ion-input>
  
        </ion-card>
        <br><br>
        <ion-button expand="block" (click)="navegarAIngreso()">Volver al Ingreso</ion-button>
        
      
        </ion-card>
       
      </div>
    </div>

</ion-content>
