.card-background {
  position: relative;
  background-image: url('../../../assets/images/compu.jpg');
  background-size: cover;
  background-position: center;
  padding: 20px;
}

ion-item {
  --padding-bottom: 15px;
  --background: rgba(255, 255, 255, 0.377);
  border-radius: 9px;
  color: #000000;
  height: 55px;
  display: flex;
  align-items: center;
}

ion-input {
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

ion-card-header, ion-card-subtitle {
  text-align: center;
}

ion-toolbar {
  font-size: 15px;
  --background: #031a30;
  border-radius: 10px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-card {
  --background: rgba(230, 223, 223, 0.205); /* Fondo semi-transparente */
  border-radius: 20px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye los elementos con espacio entre ellos */
  font-size: 15px;
}

ion-button {
  color: #ffffff;
  --background: #031a30;
  font-size: 16px;  // Aumenta el tamaño de la fuente
  border-radius: 30px;  // Ajusta el radio del borde para una apariencia más redondeada
}


ion-label a {
  color: #ffffff;
  text-decoration: none;
}

ion-label a:hover {
  text-decoration: underline;
}
